* {
      -webkit-user-select: none;  /* Chrome all / Safari all */
      -moz-user-select: none;     /* Firefox all */
      -ms-user-select: none;      /* IE 10+ */
      user-select: none;          /* Likely future */ 
    box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
    height:100%;
    min-height:100%;
}

body { 
    min-height:100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
/*    background: rgb(23,0,82);*/
/*    background: #161675;*/
    background: #4141E4;
    background-image: url("../img/Wallpapers/paradise-1110498_1280.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
/*    padding-bottom: 70px; */
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul li {
    position: relative;
}

label {
    font-weight: normal;
}

.mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255,255,255,.5);
    z-index: 99;
    display: none;
}

.btn {
    font-size: 20px;
    padding: 7px 15px;
    background: #000;
    color: #FFF;
    display: inline-block;
    cursor: pointer;
}

.btn:hover {
    background: rgba(0,0,233,.7);
}

.container-fluid {
    padding: 0 10px;
}


.topPanel {
    margin-top: 30px;
    color: #FFF;
    padding: 0 10px;
    height: 55px;
}

.topPanel .welcomeTxt {
    font-size: 30px;
}

.topPanel #microProfile {
    float: right;
    position: relative;
/*    border: 1px solid #FFF;*/
    height: 60px;
    width: 300px;
}

.topPanel #microProfile * {
    position: absolute;
}

.topPanel #microProfile #userName {
    font-size: 22px;
    right: 60px;
    top: 0;
}

.topPanel #microProfile #profilePic {
    height: 50px;
    width: 50px;
    float: right;
    right: 0;
    top: 0;
}

.topPanel #microProfile .desc {
    top: 27px;
    right: 60px;
    font-size: 15px;
}
/*

.tile.medium .fontIcon,
.tile.rectangle .fontIcon{
    font-size: 50px;
    margin-top: 40px;
}

.tile.small .fontIcon {
    font-size: 30px;
    margin-top: 10px;
}

.tile.medium .fontIcon {
    font-size: 50px;
    margin-top: 40px;
}
*/

#taskBar {
    position: fixed;
    height: 45px;
    width: 100%;
    bottom: 0;
    z-index: 20;
    left: 0;
    right: 0;
    background: rgba(25, 22, 22, 0.95);
}

#startBtn {
    color: #E1E1EA;
    background: #000;
    border: 2px outset #4141e4;
    font-weight: bold;
    display: inline-block;
    padding: 10px 15px;
    margin: 2px;
}

#startMenu {
    width: 220px;
    position: absolute;
    bottom: 45px;
    list-style: none;
/*    background: #87e;*/
/*    background: #000;*/
    background: rgba(0, 0, 0, 0.9);
    display: none;
    padding: 10px 0;
}

#startMenu>li {
    padding: 5px 15px;
    color: #FFF;
    position: relative;
}

#startMenu>li:hover {
    background: #45F;
}

.toggleBtn {
    width: 60px;
    height: 25px;
    background: #254C48;
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 1px;
}

.toggleBtn span {
    height: 19px;
    width: 28px;
    background: #F00;
    display: inline-block;
    position: relative;
    left: 4px;
    top: 3px;
    transition: all .2s ease;
}

.on .toggleBtn span {
    left: 28px;
    background: greenyellow;
}

.itemSelector {
    position: fixed;
    z-index: 100;
    top: 70px;
    height: 300px;
    display: none;
}

.itemSelector .heading {
    background: rgba(21, 9, 90, 0.84);
    color: #FFF;
    margin: 0;
    padding: 10px;
    font-size: 20px;
}

.itemSelector .imageSelector {
    background: rgba(255, 255, 255, 0.9);
    height: 100%;
    overflow: auto;
}

.itemSelector .imageSelector li {
    padding: 2px;
    float: left;
}

.itemSelector .imageSelector li.selected,
.itemSelector .imageSelector li:hover {
    background: blue;
    padding: 5px;
}

.itemSelector .imageSelector li img {
    height: 100%;
    width: 100%;
}

.itemSelector .panel_Btns {
    background: rgba(0, 0, 0, 0.86);
    text-align: right;
    padding: 7px;
}

/*********** Media Queries ****************/

@media (min-width: 768px) {
    
    
}

@media (max-width: 767px) {
    .welcomeTxt {
        display: none;
    }
    
    .topPanel {
        margin-top: 20px;
    }
    
    .tiles-container {
        margin: 10px 0;
    }
}